In [1]:
from INEvalidador import Validador
validador = Validador(descargar=False)

In [5]:
validador.sql.df_para_condicion(['P01A01', 'P01J01A'])

     P01A01  P01J01A
0       1.0      1.0
1       1.0      1.0
2       1.0      2.0
3       1.0      2.0
4       1.0      2.0
..      ...      ...
247     1.0      2.0
248     1.0      2.0
249     1.0      2.0
250     1.0      2.0
251     1.0      2.0

[252 rows x 2 columns]