In [ ]:
from INEvalidador import Validador
from INEvalidador.utils import condicion_a_variables
from INEvalidador.conexionSQL import baseSQL
sql = baseSQL(False)
from INEvalidador.reporte_produccion import GestorConteos
# gestor = GestorConteos()
validador = Validador(descargar=False)
from INEvalidador.limpieza import Limpieza
limpieza = Limpieza(1,descargar=False)

In [2]:
validador.validar_encuesta("2023-10-19","2023-11-07")

100%|██████████| 1067/1067 [21:00<00:00,  1.18s/condicion]
c:\Users\mchinchilla\Documents\GitHub\INE_ValidacionENCOVI\INEvalidador\scripR.py:72: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.data = pd.read_sql(self.sql, cnn)

Total de inconsistencias: 40
>> InconsistenciasGRUPOnan.xlsx -> 0
Se ha creado la carpeta: C:\Users\mchinchilla\Desktop\Validador\Validaciones Encuestadores\output_07-11-2023\Salidas Finales\Salidas Finales

In [3]:
validador.filter_base("P13A04A está en (27,29,30,31,32,33) & P13A07C = 30 & P13A07A = P13A07E", ["DEPTO"])

        DEPTO
2531     14.0
2532     14.0
3984     14.0
3986     14.0
3987     14.0
...       ...
441927    9.0
441928    9.0
442007    9.0
442008    9.0
442009    9.0

[829 rows x 1 columns]