In [2]:
from INEvalidador import Validador
from INEvalidador.utils import condicion_a_variables
validador = Validador(descargar=False)

In [2]:
# Colocar fecha en comillas en formato YYYY-MM-DD
validador.process_to_export(columna_upm="SECTOR", fecha_inicio="2023-8-13", fecha_final="2023-8-17                                                                                                                                                                                                                                                                                                                          ")

  0%|          | 0/428 [00:00<?, ?condicion/s]

100%|██████████| 428/428 [02:19<00:00,  3.07condicion/s]

In [2]:
from INEvalidador.utils import condicion_a_variables
from INEvalidador.conexionSQL import baseSQL

In [ ]:
a = baseSQL(False)
a.df_para_condicion("PPB02 = 1 y P01D07 = 2","2023-1-1","2023-8-16")

In [8]:
expresion = "(PPA03 >= 7) & ((P12A01 = 2) | (P12A01 = 1 & P12A02 = 2)) & (P12A03A esta en (1,2) | P12A03B esta en (1,2))"
validador.filter_base(expresion, list(condicion_a_variables(expresion)),"2023-8-13","2023-8-16")

      P12A03A  P12A02  PPA03  P12A01  P12A03B
2507      2.0     2.0   57.0     1.0      NaN
3819      2.0     2.0   31.0     1.0      2.0
3877      2.0     2.0   76.0     1.0      NaN
4432      2.0     2.0   11.0     1.0      1.0
4946      2.0     2.0   60.0     1.0      2.0